/target
/lib
/classes
/checkouts
/bin
pom.xml.asc
*.jar
*.class
*.iml
.idea
**/target
**/checkouts
*.*~
*.project
*.settings
*.classpath
.DS_Store
_site/
.sass-cache/
.jekyll-metadata
_pdf
/.gradle/
*.DS_Store
.project
*.settings
*.bak
public/
