name: "Stale issue automation"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          operations-per-run: 200
          days-before-stale: 60
          days-before-close: 0
          close-issue-message: 'Closing this issue due to 60 days of inactivity.'
          close-pr-message: 'Closing this PR due to 60 days of inactivity.'
